
ol {
    margin-left: -45px;
    margin-top: -20px;
    list-style-position: inside;
}

p {
    color: red;
}

.note {
    font-size: 20px;
}

#id-selector-demo {
    color: green;
}

li[value="4"] {
    color: blue;
}

h2[id = "red"] {
    color: red;
}
h2[id = "blue"] {
    color: blue;
}
h2[id = "orange"] {
    color: orange;
}
h2[id = "green"] {
    color: green;
}
h2[id = "yellow"] {
    color: yellow;
}

.red {
    height: 4px;
    width: 4px;
}
.color-box-rojo {
    height: 200px;
    width: 200px;
    background-color: red;
}
.color-box-blue {
    height: 200px;
    width: 200px;
    background-color: blue;
}
.color-box-orange {
    height: 200px;
    width: 200px;
    background-color: orange;
}
.color-box-green {
    height: 200px;
    width: 200px;
    background-color: green;
}
.color-box-yellow {
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.container {

    display: flex;
    gap: 8%;
}

.one {
    float: left;
    width: 25%;
    background-color: greenyellow;
}
.two {
    float: left;
    width: 25%;
    background-color: pink;
}
.three {
    float: left;
    width: 40%;
    background-color: aquamarine;
}


